<app-tabs></app-tabs>

<button mat-raised-button color="primary" type="button"
    *ngIf="!addingNewProduct"
    (click)="openAddNewProduct()">
    Add new product
</button>

<!-- TODO: CLEAN INPUTS AFTER SUBMIT -->

<!-- TODO: ADD SNACK MSG AFTER ALL ACTIONS + CONFIGURE SNACK (CLOSE TIME) -->

<div *ngIf="addingNewProduct">
    
    <form>   
    
        <mat-form-field>
            <mat-label>name</mat-label>
            <input matInput [(ngModel)]="newProduct.name" placeholder="Product name" class="form-control"
                name="name" type="string">
        </mat-form-field><br>
        
        <mat-form-field>
            <mat-label>price</mat-label>
            <input matInput [(ngModel)]="newProduct.price" placeholder="Product price" class="form-control"
                name="price" type="number">
        </mat-form-field><br>

        <button mat-raised-button color="primary" type="button" (click)="addProduct()">Add new product</button>

    </form>

</div>

<div *ngIf="restaurantProducts.length > 0">
    
    <p>Products list:</p>
    
    <form>
        
        <span *ngFor="let product of restaurantProducts; let i = index">
            
            <span>
                
                <mat-form-field>
                    <mat-label>name</mat-label>
                    <input matInput [(ngModel)]="product.name" placeholder="Product name" class="form-control" name="name-{{i}}"
                        [disabled]="!editFormArray[i]" type="string">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>price</mat-label>
                    <input matInput [(ngModel)]="product.price" placeholder="Product price" class="form-control" name="price-{{i}}"
                        [disabled]="!editFormArray[i]" type="number">
                </mat-form-field>
                
                <button mat-button (click)="deleteProduct(product.id)" *ngIf="!editFormArray[i]">Delete Product</button>
                <button mat-button (click)="openUpdateProduct(i)" *ngIf="!editFormArray[i]">Edit Product</button>
                <button mat-button (click)="updateProduct(product, i)" *ngIf="editFormArray[i]">Save Product</button>

                <mat-divider></mat-divider>

            </span><br>

        </span>

    </form>

</div>
