<div class="wrapper">
  <mat-card class="example-card" (click)="onClick()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>Prix : {{ price }}€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{image}}>
    <mat-card-content>
      <p>
        {{ description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-chip-list
      class="example-chip"
      cdkDropList
      cdkDropListOrientation="horizontal">
        <mat-chip
        class="example-box"
        cdkDrag>
        {{tags}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</div>
