<div class="modal">
    <form>

        <h1 mat-dialog-title>Log in</h1>

        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="data.username" name="username" type="username" class="form-control"
                    autocomplete="new">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="data.password" name="password" type="password" class="form-control"
                    autocomplete="new">
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Return</button>
            <button mat-button [mat-dialog-close]="[data.username, data.password]" cdkFocusInitial>Log in</button>
            <button mat-button [mat-dialog-close]="['register']">Register</button>
        </div>

    </form>
</div>