<!-- https://material.angular.io/components/button-toggle/overview -->

<div style="display: flex; justify-content: space-evenly">
  <span *ngFor="let cathegory of cathegoriesPresence" style="flex-direction: row; ">
    <button mat-button type="button" *ngIf="cathegory.present" (click)="setIndex(cathegory.index)">{{ cathegory.name }}</button>
  </span>
  <button mat-button type="button" (click)="setIndex(8)">All</button>
</div>

<div *ngFor="let product of productList" style="display: flex;">
  <mat-card *ngIf="(index == 8 || index == product.productFamily) && product.isActive" class="card cardElement" >
    <mat-card-header class="cardElement">
      <mat-card-title class="cardElement">{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.image">
    <mat-card-content>
      <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions class="cardElement">
      <span>Price: {{ product.price }}€</span>
      <button mat-button (click)="addProductToCart(product)">Add to cart</button>
    </mat-card-actions>
  </mat-card>
</div>
