<div class="modal">
    <form>

        <h1 mat-dialog-title>Register</h1>

        <div>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="data.email" name="email" type="email" class="form-control" autocomplete="new">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="data.firstName" name="text" class="form-control" autocomplete="new">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput [(ngModel)]="data.lastName" name="text" class="form-control" autocomplete="new">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="data.password" name="password" type="password" class="form-control" autocomplete="new">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput [(ngModel)]="data.phoneNumber" name="text" type="text" class="form-control" autocomplete="new">
            </mat-form-field><br>

            <mat-checkbox matInput [(ngModel)]="data.registerRestaurant" class="form-control" name="checkbox" autocomplete="new">
                I'm restaurant owner
            </mat-checkbox>

        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No Thanks</button>
            <button mat-button [mat-dialog-close]="[
                    data.firstName,
                    data.lastName,
                    data.email,
                    data.password,
                    data.phoneNumber,
                    data.registerRestaurant
                ]" cdkFocusInitial>Sign up</button>
        </div>

    </form>
</div>