<app-tabs></app-tabs>

<button
  mat-raised-button
  color="primary"
  type="button"
  (click)="editRestaurantInfo()">{{ isRestaurantCreated ? 'Edit restaurant info' : 'Create restaurant'}}</button>
<div *ngIf="isRestaurantCreated">
  <form>
    <div>
      <table class="table-bordered">
        <tr>
          <th>dayOfWeek</th>
          <th>startTimeInMinutes</th>
          <th>endTimeInMinutes</th>
          <th *ngIf="editForm">Action</th>
        </tr>

        <tr *ngFor="let weekOpeningTimes of restaurantInfo.weekOpeningTimes; let i = index">
           <span *ngIf="weekOpeningTimes.openingTimes.length > 0">
                <td>
                    <input [(ngModel)]="weekOpeningTimes.dayOfWeek" name="dayOfWeek-{{i}}" [disabled]="!editForm" type="number">
                </td>

                <td>
                  <input [(ngModel)]="weekOpeningTimes.openingTimes[0].startTimeInMinutes" name="startTimeInMinutes-{{i}}" [disabled]="!editForm">
                </td>

                <td>
                  <input [(ngModel)]="weekOpeningTimes.openingTimes[0].endTimeInMinutes" name="endTimeInMinutes-{{i}}" [disabled]="!editForm">
                </td>



              <td *ngIf="editForm">
                <button class="btn btn-secondary"
                        (click)="deleteItem(i)"
                >Delete Item</button>
              </td>
           </span>
        </tr>
      </table>
    </div>

    <button class="btn btn-primary"
            (click)="updateRestaurantInfo()"
            [disabled]="!editForm">
      Submit
    </button>
    <button class="btn btn-secondary" (click)="add()" *ngIf="editForm">Add New Item</button>
  </form>
</div>

<div *ngIf="!isRestaurantCreated && editForm">
  <form>
    <label for="name">Restaurant's name</label>
    <input id="name" [(ngModel)]="restaurantInfo.name" name="name" [disabled]="!editForm">
    <button class="btn btn-primary"
            (click)="createRestaurant()"
            [disabled]="!editForm">
      Submit
    </button>
  </form>
</div>
