<div class="modal">
    <form>

        <h1 mat-dialog-title>Cart</h1>

        <div mat-dialog-content>

            <!-- TODO: use material table  -->
            <div *ngFor="let productItem of data.products;" name="products">
                <div>
                    <span>
                        {{ productItem.product.name }}
                    </span>
                    <!-- TODO: INPUT!! -->
                    <span>
                        quantity: {{ productItem.quantity }}
                    </span>
                    <span>
                        {{ productItem.product.price }}€
                    </span>
                </div>
            </div>

            <div>
                TOTAL: ...
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Comment:</mat-label>
                    <!-- TODO: TEXTAREA -->
                    <input matInput [(ngModel)]="data.customerComment" name="comment"
                    type="text" class="form-control">
                </mat-form-field>
                
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Choose time</mat-label>
                    <input matInput 
                        [matDatepicker]="picker"
                        [(ngModel)]="data.reservedForDateTime"
                        name="reservedForDateTime" 
                        type="datetime-local">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Return</button>
            <button mat-button [mat-dialog-close]="[data]" cdkFocusInitial>Order</button>
        </div>

    </form>
</div>